html, body, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 50px;
}

figure {
  margin: 0 auto;
  width: 630px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  float: left;
  list-style: none;
  width: 180px;
  height:200px;
  border-bottom: 10px solid black;
  margin-right: 30px;
}

.disc1, .disc2, .disc3 {
  height: 30px;
  border: 5px solid green;
  border-radius: 25px;
  background-color: green;
  margin: 10px auto 10px;
}

ul li.disc1 {
  width: 40%;
}

ul li.disc2 {
  width: 70%;
}

ul li.disc3 {
  width: 100%;
}
