html, body, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 50px;
}

figure {
  margin: 0 auto;
  width: 600px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  float: left;
  list-style: none;
  width: 180px;
  height:200px;
  border-bottom: 10px solid black;
  margin-right: 20px;
}

/*ul li {
  float: left;
  margin: 10px;
}

ul li.disc0 {
  margin: 10px 60px;
  width: 60px;
  height: 30px;
  border: 5px solid green;
  border-radius: 25px;
  background-color: green;

}

ul li.disc1 {
  margin: 10px 35px;
  width: 120px;
  height: 30px;
  border: 5px solid green;
  border-radius: 25px;
  background-color: green;
}

ul li.disc2 {
  margin: 10px 10px;
  width: 180px;
  height: 30px;
  border: 5px solid green;
  border-radius: 25px;
  background-color: green;
}*/
